In [25]:
import pandas as pd
import numpy as np

In [26]:
file=('Summer-Olympic-medals-1976-to-2008.csv')
df=pd.read_csv(file, encoding='latin-1')
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

Separar nombres de apellidos en dos columnas distintas usando la coma como separador.

In [27]:
#Athletes=df.Athlete.str.split(',')  #probando el metodo split en una variable
#Athletes

In [28]:
df[['Surname','Name']] = df['Athlete'].str.split(',',n=1,expand=True) #se agregan dos nuevas columnas con los nombres separados
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Surname,Name
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar

 Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [50]:
#df[['Medal','Discipline','Country_Code','Gender']].describe() #probando las medidas resumen de algunas columnas
df['Country_Code'].describe()

count     15316
unique      128
top         USA
freq       1992
Name: Country_Code, dtype: object

In [48]:
df['Medal'].describe()

count      15316
unique         3
top       Bronze
freq        5258
Name: Medal, dtype: object

In [ ]:
df['Country_Code'].value_counts() #se cuenta cuantas veces aparece cada pais para saber cual tiene mayor cantidad de medallas.
#USA es el que ganó mas medallas

In [46]:
(df['Country_Code']=='USA').value_counts()#se cuenta cuantas veces aparece cada pais para saber cual tiene mayor cantidad de medallas.
#USA es el que ganó mas medallas

False    13441
True      1992
Name: Country_Code, dtype: int64

Construir una tabla que muestre cuántas medallas obtuvieron los hombres y mujeres en total en cada
año que se realizó el evento.

In [35]:
table=df[['Year','Gender']]  #creo una nueva tabla con dos columna
table.groupby('Year')['Gender'].value_counts() #se agrupa por años y cuento cuantos hombre y mujeres hay

Year    Gender
1976.0  Men        924
        Women      381
1980.0  Men        958
        Women      429
1984.0  Men        973
        Women      486
1988.0  Men       1011
        Women      535
1992.0  Men       1105
        Women      600
1996.0  Men       1082
        Women      777
2000.0  Men       1126
        Women      889
2004.0  Men       1099
        Women      899
2008.0  Men       1110
        Women      932
Name: Gender, dtype: int64